@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
    margin: 0px;
}


.header {
    color: white;
    background:  #9933cc;
    padding: 15px;

}

.header:hover {
    background:  #8725b9;
}

h1, h2 {
    font-family: 'Tilt Warp', cursive;
}

p, li {
    font-family: 'Tilt Neon', cursive;
    padding: 8px;
    margin-bottom: 7px;
}

.col-3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.col-3 li{
    margin: 10px;
    background: #33b5e5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.col-3 li:hover {
  background-color: #0099cc;
}

.col-9 {
    color: black!important;
    /* background: #fdca6d; */

}

/*
Probando el exemplo de w3schools
*/

.row::after{
    content: "";
    clear: both;
    /* color: white; */
    /* background: #19ddc1; */
    font-family: 'Tilt Neon', cursive;
    width: 100%;
    display: table;
}

* {
    box-sizing: border-box;
}

[ class*= "col-"] {
    float: left;
    padding: 15px;
    display: table;
    color: white;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
